<style>
  table {
    font-family: Arial, Sans-serif;
    font-size: 10pt;
    width: 500px;
    color: #666;
    border-collapse: collapse;
  }
  p {
    margin: 10px;
  }
</style>
<body>
  <table align="center" id="header">
    <tr>
      <td style="background-color: #c6cedd;padding: 10px;text-align: center;border: 1px solid #425c8f">
        <img border=0 src="cid:image@alliantnational.com" width = "327" height ="116" />
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid #425c8f">
        <p>Dear {name},</p>
        <p>{content} outstanding actions for {actionMonth} of {actionYear}. Please acknowledge that it's been reviewed.</p>
        <p style="text-align: center"><a href="{serverURL}get?I1={uid}&I2={pass}&I3=periodApprovalApprove&PeriodID={periodID}&Entity=CAM&Approve=true"><img border=0 src="cid:approve@alliantnational.com" width=50 height=50 /></a></p>
      </td>
    </tr>
  </table>
</body>
