<!--
  parameters:
    {action} is the name of the action
 
-->
<style>
  table {
    font-family: Arial, Sans-serif;
    font-size: 10pt;
    width: 500px;
    color: #666;
    border-collapse: collapse;
  }
  th {
    padding: 3px;
    color: #FFF;
  }
  td, th {
    border: 1px solid #425c8f;
  }
  p {
    margin: 10px;
  }
</style>
<body>
  <table align="center">
    <tr>
      <td style="background-color: #c6cedd;padding: 10px;text-align: center">
        <img border=0 src="cid:image@alliantnational.com" width = "327" height ="116" />
      </td>
    </tr>
    <tr>
      <td>
        <p>Please find the attached {action}.</p>
        <p>If you have any questions, please contact Leah Gonzales at 303-682-9800 x170.  Leah can also be reached via email at lgonzales@alliantnational.com.</p>
        <p>We appreciate your business.</p>
      </td>
    </tr>
    <br />
  </table>
</body>
