<!--
  parameters:
    {name} is the name of the user (i.e. John Oliver)
    {agentID} is the agent ID
    {agentName} is the name of the agent
    {content} is used for a table (perhaps)
-->
<style>
  table.overall {
    font-family: Arial, Sans-serif;
    font-size: 10pt;
    width: 500px;
    color: #666;
    border-collapse: collapse;
  }
  td.overall {
    border: 1px solid #425c8f;
  }
  p.section {
    margin-top: 50px;
  }
  div.block {
    margin-left: 30px;
  }  
  table.block {
    margin-left: 30px;
    width: 90%;
    font-family: Arial, Sans-serif;
    font-size: 10pt;
    color: #666;
    border-collapse: collapse;
  }
  td.col1 {
    width: 150px;
  }
  td.col2 {
    font-weight: bold;
  }
</style>
<body>
  <table align="center" class="overall">
    <tr>
      <td class="overall" style="background-color: #c6cedd;padding: 10px;text-align: center">
        <img border=0 src="cid:image@alliantnational.com" width = "327" height ="116" />
      </td>
    </tr>
    <tr>
      <td style="padding: 10px;" class="overall">
        <p>Please find the attached {action}.</p>
        <p class="section"><b>For questions regarding your statement, please contact:</b></p>
        <div class="block">Martha Alonzo (Accounting) at 303-682-9800 x130 or email at malonzo@alliantnational.com.</div>
        <p><b>For questions regarding a file/policy, please contact:</b></p>
        <div class="block">Leah Gonzales (Policy/Remitting) at 303-682-9800 x170 or email at lgonzales@alliantnational.com.</div>
        <p class="section"><b>To pay electronically (preferred):</b></p>
        <p><i>We accept ACH, Wire, RTP, and FedNow</i></p>
        <table class="block">
          <tr><td>Financial Institution:</td><td class="col2">US Bank</td></tr>
          <tr><td class="col1"></td><td class="col2">1071 Grand Ave.</td></tr>
          <tr><td class="col1"></td><td class="col2">St. Paul, MN 55105</td></tr>
          <tr><td class="col1">Routing/ABA No.:</td><td class="col2">102000021</td></tr>
          <tr><td class="col1">Account No.:</td><td class="col2">103687881351</td></tr>
        </table>
        <p>Once the transfer is initiated, please send an email with transactional details to malonzo@alliantnational.com.</p>
        <p class="section"><b>To pay by check:</b></p>
        <p>Make checks payable to: Alliant National Title</p>
        <table class="block">
          <tr><td class="col1">Mail checks to:</td><td class="col2">Alliant National Title</td></tr>
          <tr><td class="col1"></td><td class="col2">1831 Lefthand Circle Suite G</td></tr>
          <tr><td class="col1"></td><td class="col2">Longmont, CO 80501</td></tr>
        </table>
        <p>We appreciate your business.</p>
      </td>
    </tr>
    <br />
  </table>
</body>
