<!--
  This file is the email body for the Wells Fargo Agent Report.

  parameters:
    {date} is the date of the report (i.e. today's date)
	{supportEmail} email address for Alliant National IT Support
-->
<style>
  table {
    font-family: Arial, Sans-serif;
    font-size: 10pt;
    width: 500px;
    color: #666;
    border-collapse: collapse;
  }
  p {
    margin: 10px;
  }
</style>
<body>
  <table align="center" id="header">
    <tr>
      <td style="background-color: #c6cedd;padding: 10px;text-align: center;border: 1px solid #425c8f">
        <img border=0 src="cid:image@alliantnational.com" width = "327" height ="116" />
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid #425c8f">
        <p>Attached is the Agency Report for {mailDate}.</p>
      </td>
    </tr>
  </table>
</table>
