<!--
  parameters:
    {name} is the name of the user (i.e. John Oliver)
    {agentID} is the agent ID
    {agentName} is the name of the agent
    {content} is used for a table (perhaps)
-->
<style>
  table {
    font-family: Arial, Sans-serif;
    font-size: 10pt;
    width: 500px;
    color: #666;
    border-collapse: collapse;
  }
  th {
    padding: 3px;
    color: #FFF;
  }
  td, th {
    border: 1px solid #425c8f;
  }
  p {
    margin: 10px;
  }
</style>
<body>
  <table align="center">
    <tr>
      <td style="background-color: #c6cedd;padding: 10px;text-align: center">
        <img border=0 src="cid:image@alliantnational.com" width = "327" height ="116" />
      </td>
    </tr>
    <tr>
      <td>
        <p>The application for {agentName} ({agentID}) has been submitted for review at your convenience. The specific files are listed below:</p>
        <p>
          <table style="width: 450px;" align="center">
            <tr style="background-color: #c6cedd">
              <th>Document Type</th><th>Filename</th>
            </tr>
            {content}
          </table>
        </p>
      </td>
    </tr>
    <br />
  </table>
</body>
