<!--
  parameters:
    {name} is the name of the user (i.e. John Oliver)
    {agentID} is the agent ID
    {agentName} is the name of the agent
    {content} is used for a table (perhaps)
-->
<style>
  table {
    font-family: Arial, Sans-serif;
    font-size: 10pt;
    width: 500px;
    color: #666;
    border-collapse: collapse;
  }
  th {
    padding: 3px;
    color: #FFF;
  }
  td, th {
    border: 1px solid #425c8f;
  }
  p {
    margin: 10px;
  }
</style>
<body>
  <table align="center">
    <tr>
      <td style="background-color: #c6cedd;padding: 10px;text-align: center">
        <img border=0 src="cid:image@alliantnational.com" width = "327" height ="116" />
      </td>
    </tr>
    <tr>
      <td style="padding-bottom: 20px;">
        <p>Dear {name},</p>
        <p>A new Pre-Sign ERR, {qarID}, has been assigned to you. The documents you need to proceed are located in <a href="{shareFileFolder}">ShareFile</a>. If you do not have time to complete the ERR and wish to assign it to someone else, reply to this email.</p>
        <p>
          <table style="width: 450px;" align="center">
            <tr><td style="width: 25%">Agent Name:</td><td>{agentName}</td></tr>
            <tr><td>Years Active:</td><td>{yearsActive}</td></tr>
            <tr><td>Contact Name:</td><td>{contactName}</td></tr>
            <tr><td>Contact Phone:</td><td>{contactPhone}</td></tr>
            <tr><td>Contact Email:</td><td>{contactEmail}</td></tr>
			<tr><td>Agency Manager:</td><td>{agentManager}</td></tr>
            <tr><td valign="top">Agent Address:</td><td>{agentFullAddress}</td></tr>
          </table>
        </p>
      </td>
    </tr>
  </table>
</body>
