<!--
  parameters:
    {name} is the name of the user (i.e. John Oliver)
    {agentID} is the agent ID
    {agentName} is the name of the agent
    {content} is used for a table (perhaps)
-->
<style>
  table.overall {
    font-family: Arial, Sans-serif;
    font-size: 10pt;
    width: 75%;
    color: #666;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #425c8f;
    text-align: left;
    padding-left: 5px;
  }
  table.inner {
    width: 95%;
    font-size: 10pt;
    color: #666;
    border-collapse: collapse;
  }
  table.inner thead {
    color: #FFF;
    background-color: #c6cedd;
    text-align: left;
  }
</style>
<body>
  <table align="center" class="overall">
    <tr>
      <td class="overall" style="background-color: #c6cedd;padding: 10px;text-align: center">
        <img border=0 src="cid:image@alliantnational.com" width = "327" height ="116" />
      </td>
    </tr>
    <tr>
      <td style="padding: 10px;" class="overall">
        <p>The following users coming from ARC are potential duplicates for {startDate} to {endDate}:</p>
        <table class="inner" align="center">
          <thead>
            <tr class="header"><th>Name</th><th>ARC Email</th><th>ARC Agent</th><th>Compass Email</th><th>Compass Agent</th></tr>
          </thead>
          <tbody>
            {content}
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</body>
