<!--
  parameters:
    {name} is the name of the user (i.e. John Oliver)
-->
<style>
  table {
    font-family: Arial, Sans-serif;
    font-size: 10pt;
    width: 600px;
    color: #666;
    border-collapse: collapse;
  }
  th {
    padding: 3px;
    color: #FFF;
    text-align: center;
  }
  td, th {
    border: 1px solid #425c8f;
  }
  p {
    margin: 10px;
  }
  div {
    margin: 10px auto;
    width: 550px;
  }
</style>
<table align="center">
  <tr>
    <td style="background-color: #c6cedd;padding: 10px;text-align: center">
      <img border=0 src="cid:image@alliantnational.com" width = "327" height ="116" />
    </td>
  </tr>
  <tr>
    <td>
      <p>Dear {name},</p>
      <p>Below are the changes from the {report} made by {username} that affects you.</p>
      {content}
    </td>
  </tr>
</table>
