<!--
  parameters:
    {username} is the name of the user (i.e. John Oliver)
-->
<style>
  table {
    font-family: Arial, Sans-serif;
    font-size: 10pt;
    width: 500px;
    color: #666;
    border-collapse: collapse;
  }
  td {
    border: 1px solid #425c8f;
  }
  p {
    margin: 10px;
  }
</style>
<table align="center">
  <tr>
    <td style="background-color: #c6cedd;padding: 10px;text-align: center">
      <img border=0 src="cid:image@alliantnational.com" width = "327" height ="116" />
    </td>
  </tr>
  <tr>
    <td>
      <p>Dear {username},</p>
      <p>The audit {qarID} is finished.</p>
    </td>
  </tr>
</table>
