<!--
  parameters:
    {name} is the name of the user (i.e. John Oliver)
    {requester} is the name of the requester (i.e. John Oliver)
    {subject} is the system area that needs to approve (i.e. Claim Adjustment Request)
    {approve} is the approving link
    {reject} is the rejecting link
-->
<style>
  table {
    font-family: Arial, Sans-serif;
    font-size: 10pt;
    width: 500px;
    color: #666;
    border-collapse: collapse;
  }
  th {
    padding: 3px;
    color: #FFF;
  }
  td, th {
    border: 1px solid #425c8f;
  }
  p {
    margin: 10px;
  }
</style>
<body>
  <table align="center">
    <tr>
      <td style="background-color: #c6cedd;padding: 10px;text-align: center">
        <img border=0 src="cid:image@alliantnational.com" width = "327" height ="116" />
      </td>
    </tr>
    <tr>
      <td>
        <p>Dear {name},</p>
        <p>The import for batch {batchID} is complete. Attached is a file of the rows that could not be added to the batch.</p>
        <p>
          <table style="width: 300px;" align="center">
            <tr><td width="150px">Rows Total</td><td width="150px">{rowsTotal}</td></tr>
            <tr><td>Rows Imported</td><td>{rowsImported}</td></tr>
            <tr><td>Rows Erred</td><td>{rowsErred}</td></tr>
            <tr style="background-color: #c6cedd;color: #FFF;font-weight: bold;"><td>Time Taken</td><td>{timeTaken} seconds</td></tr>
          </table>
        </p>
        <p>Please resubmit the erred rows once corrected.</p>
      </td>
    </tr>
  </table>
</body>
