<style>
  table {
    font-family: Arial, Sans-serif;
    font-size: 10pt;
    width: 600px;
    color: #666;
    border-collapse: collapse;
  }
  th {
    padding: 3px;
    color: #FFF;
  }
  td, th {
    border: 1px solid #425c8f;
  }
  p {
    margin: 10px;
  }
</style>
<body>
  <table align="center">
    <tr>
      <td style="background-color: #c6cedd;padding: 10px;text-align: center">
        <img border=0 src="cid:image@alliantnational.com" width = "327" height ="116" />
      </td>
    </tr>
    <tr>
      <td style="padding-bottom: 20px;">
        <p>A reserve adjustment at or greater than {threshold} was made for Claim No. {claimID}.  Please review the details below:</p>
        <p>
          <table style="width: 550px;" align="center">
            <tr><td style="width: 32%">Agent:</td><td>{agent}</td></tr>
            <tr><td>State:</td><td>{state}</td></tr>
            <tr><td>Company Description:</td><td>{companyDescription}</td></tr>
            <tr><td>Company Cause:</td><td>{companyCause}</td></tr>
            <tr><td>Agent Error:</td><td>{agentError}</td></tr>
            <tr><td>Attorney Error:</td><td>{attorneyError}</td></tr>
            <tr><td>Searcher Error:</td><td>{searcherError}</td></tr>
            <tr><td>Current LAE Reserve:</td><td>{LAEReserve}</td></tr>
            <tr><td>Current Loss Reserve:</td><td>{LossReserve}</td></tr>
            <tr><td>Increase in LAE Reserve:</td><td>{LAEAmount}</td></tr>
            <tr><td>Increase in Loss Reserve:</td><td>{LossAmount}</td></tr>
            <tr><td>Adjusted LAE Reserve:</td><td>{LAETotal}</td></tr>
            <tr><td>Adjusted Loss Reserve:</td><td>{LossTotal}</td></tr>
            <tr><td>Summary:</td><td>{description}</td></tr>
          </table>
        </p>
      </td>
    </tr>
  </table>
</body>
