<style>
  table {
    font-family: Arial, Sans-serif;
    font-size: 10pt;
    width: 600px;
    color: #666;
    border-collapse: collapse;
  }
  th {
    padding: 3px;
    color: #FFF;
  }
  td, th {
    border: 1px solid #425c8f;
  }
  p {
    margin: 10px;
  }
</style>
<body>
  <table align="center">
    <tr>
      <td style="background-color: #c6cedd;padding: 10px;text-align: center">
        <img border=0 src="cid:image@alliantnational.com" width = "327" height ="116" />
      </td>
    </tr>
    <tr>
      <td style="padding-bottom: 20px;">
        <p>A payable has created for Claim No. {claimID}. Please review the following information below.</p>
        <p>
          <table style="width: 550px;" align="center">
            <tr><td style="width: 32%">Vendor:</td><td>{vendor}</td></tr>
            <tr><td>Invoice Number:</td><td>{invoiceNumber}</td></tr>
            <tr><td>PO Number:</td><td>{PONumber}</td></tr>
            <tr><td>Amount:</td><td>{amount}</td></tr>
            <tr><td>Due Date:</td><td>{dueDate}</td></tr>
            <tr><td>Status:</td><td>{status}</td></tr>
            <tr><td valign="top">Notes:</td><td>{notes}</td></tr>
          </table>
        </p>
      </td>
    </tr>
  </table>
</body>
