<style>
  table {
    font-family: Arial, Sans-serif;
    font-size: 10pt;
    width: 600px;
    color: #666;
    border-collapse: collapse;
  }
  th {
    padding: 3px;
    color: #FFF;
  }
  td, th {
    border: 1px solid #425c8f;
  }
  p {
    margin: 10px;
  }
</style>
<body>
  <table align="center">
    <tr>
      <td style="background-color: #c6cedd;padding: 10px;text-align: center">
        <img border=0 src="cid:image@alliantnational.com" width = "327" height ="116" />
      </td>
    </tr>
    <tr>
      <td style="padding-bottom: 20px;">
        <p>A payable created at or greater than {threshold} was made for Claim No. {claimID}. Please review the following information below.</p>
        <p>
          <table style="width: 550px;" align="center">
            <tr><td style="width: 32%">Agent:</td><td>{agent}</td></tr>
            <tr><td>State:</td><td>{state}</td></tr>
            <tr><td>Company Description:</td><td>{companyDescription}</td></tr>
            <tr><td>Company Cause:</td><td>{companyCause}</td></tr>
            <tr><td>Agent Error:</td><td>{agentError}</td></tr>
            <tr><td>Attorney Error:</td><td>{attorneyError}</td></tr>
            <tr><td>Searcher Error:</td><td>{searcherError}</td></tr>
            <tr><td>Type of Reserve:</td><td>{type}</td></tr>
            <tr><td>Reserve Before Payment:</td><td>{reserveBefore}</td></tr>
            <tr><td>Amount of Payment:</td><td>{amount}</td></tr>
            <tr><td>Reserve After Payment:</td><td>{reserveAfter}</td></tr>
            <tr><td>Summary:</td><td>{description}</td></tr>
          </table>
        </p>
      </td>
    </tr>
  </table>
</body>
