<!--
  This file is the email body for the Wells Fargo Agent Report.

  parameters:
    {date} is the date of the report (i.e. today's date)
	{supportEmail} email address for Alliant National IT Support
-->
<style>
  table {
    font-family: Arial, Sans-serif;
    font-size: 10pt;
    width: 500px;
    color: #666;
    border-collapse: collapse;
  }
  td {
    border: 1px solid #425c8f;
  }
  p {
    margin: 10px;
  }
</style>
<table align="center">
  <tr>
    <td style="background-color: #c6cedd;padding: 10px;text-align: center">
      <img border=0 src="cid:image@alliantnational.com" width = "327" height ="116" />
    </td>
  </tr>
  <tr>
    <td>
      <p>Please find the attached Alliant National Agent Report for {date}. If you have any questions or concerns, feel free to contact the Alliant National IT Support Team at <a href="mailto:{supportEmail}">{supportEmail}</a>.</p>
    </td>
  </tr>
</table>
