<!--
  parameters:
    {name} is the name of the user (i.e. John Oliver)
    {requester} is the name of the requester (i.e. John Oliver)
    {subject} is the system area that needs to approve (i.e. Claim Adjustment Request)
    {id} is the identifier of the {subject}
    {approve} is the approving link
    {reject} is the rejecting link
    {link} is the link to the Compass module
-->
<style>
  table {
    font-family: Arial, Sans-serif;
    font-size: 10pt;
    width: 500px;
    color: #666;
    border-collapse: collapse;
  }
  td {
    border: 1px solid #425c8f;
  }
  p {
    margin: 10px;
  }
</style>
<body>
  <table align="center">
    <tr>
      <td style="background-color: #c6cedd;padding: 10px;text-align: center">
        <img border=0 src="cid:image@alliantnational.com" width = "327" height ="116" />
      </td>
    </tr>
    <tr>
      <td>
        <p>Dear {name},</p>
        <p>You are designated as an approver for Invoice {id}. Please login to the <a href="http://compass.alliantnational.com:8008/apps/APM.prowcapc">Accounts Payable Manager</a> to view the request.</p>
      </td>
    </tr>
  </table>
</body>
