<!--
  This file is used to customize the message displayed to users when the password
  will expire soon. The subject of the email is:
  
      Your Compass password will expire soon
      
  parameters:
    {name} is the name of the user (i.e. John Oliver)
    {message} is the custom message that the password "has expired" or "will expire in X day(s)" 
    {url} is the URL of the password service on alliantnational.com (defined in the ini file)
    {email} is used to email the support tea
-->
<style>
  table {
    font-family: Arial, Sans-serif;
    font-size: 10pt;
    width: 500px;
    color: #666;
    border-collapse: collapse;
  }
  td {
    border: 1px solid #425c8f;
  }
  p {
    margin: 10px;
  }
</style>
<table align="center">
  <tr>
    <td style="background-color: #c6cedd;padding: 10px;text-align: center">
      <img border=0 src="cid:image@alliantnational.com" width = "327" height ="116" />
    </td>
  </tr>
  <tr>
    <td>
      <p>Dear {name},</p>
      <p>This is an automated message that your Compass password {message}. This password is used for all Compass modules and supporting services including Sharefile and ARC. Your credentials for Compass are different from your Alliant National domain credentials that are used to access email and terminal services. To reset your Compass password, simply open a Compass module or you can visit our website at <a href="{url}">Alliant National</a>. You will need to know your current password.</p>
      <p>If you need assistance, please contact John Oliver at <a href="mailto:joliver@alliantnational.com">joliver@alliantnational.com</a> or 720-390-0274. You can also send an email to the <a href="mailto:{email}">Support</a> team.</p>
    </td>
  </tr>
</table>
