<!--
  parameters:
    {name} is the name of the user (i.e. John Oliver)
    {agentID} is the agent ID
    {agentName} is the name of the agent
    {content} is used for a table (perhaps)
-->
<style>
  table.overall {
    font-family: Arial, Sans-serif;
    font-size: 10pt;
    width: 500px;
    color: #666;
    border-collapse: collapse;
  }
  td.overall {
    border: 1px solid #425c8f;
  }
  p.section {
    margin-top: 50px;
  }
  div.block {
    margin-left: 30px;
  }  
  table.block {
    margin-left: 30px;
    width: 90%;
    font-family: Arial, Sans-serif;
    font-size: 10pt;
    color: #666;
    border-collapse: collapse;
  }
  td.col1 {
    width: 150px;
  }
  td.col2 {
    font-weight: bold;
  }
</style>
<body>
  <table align="center" class="overall">
    <tr>
      <td class="overall" style="background-color: #c6cedd;padding: 10px;text-align: center">
        <img border=0 src="cid:image@alliantnational.com" width = "327" height ="116" />
      </td>
    </tr>
    <tr>
      <td style="padding: 10px;" class="overall">
        <p>Please find the attached {action}.</p>
        <p class="section"><b>For questions regarding your statement, please contact:</b></p>
        <div class="block">Martha Alonzo (Accounting) at 303-682-9800 x130 or email at malonzo@alliantnational.com.</div>
        <p><b>You can access payment instructions and historical statements online at</b></p>
        <div class="block">https://arc.alliantnational.com/ar_documents.aspx</div>
        <p>We appreciate your business.</p>
      </td>
    </tr>
    <br />
  </table>
</body>
